
@page
@model EcoEnergySegonaFaseDef.Pages.SimulationsModel
@{
    ViewData["Title"] = "Llistat de simulacions";
}

<h1>Llista de simulacions</h1>

<table class="table">
    <thead>
        <tr>
            <th>HoresSol</th>
            <th>Data</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var energia in Model.sistemaSolars)
        {
            <tr>
                <td>@energia.HoresSol</td>
                <td>@energia.GetDate</td>
                <td>@energia.CalcEnergia()</td>
                <td>@energia.GetType()</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="AddSimulation" class="btn btn-primary">Afegir nova simulació</a>